.form {
  text-align: left;
}

label {
  font-size: 2.3vmin;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  font-weight: 400;
  border-radius: 1vmin;
  width: auto;
  height: auto;
  background-color: #fadae0;
  color: whitesmoke;
  color: black;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}
