.card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  border: 2px solid black;
  padding: 1vw;
  margin-top: 3vw;
  border-radius: 1vw;
  background-color: white;
}

.card p {
  margin: 1vw;
}
